.myBG{
    height: 100vh;
    background: url(../assets/imageBG/cinema-09.jpg);
    background-size: cover;
}

.myNavbar{
    background-color: rgb(0, 0, 0);
}

.NavBrand{
    font-Family: 'Zen Dots',Cursive;
}


.input{
    align-content: center;
    width: 20vw;
    position: relative;
    right: 50px;
    padding: 5px;
}