.myBG{
    height: 100vh;
    background-image: url(../assets/imageBG/cinema-09.jpg);
    background-size: cover;
}

.movie-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-wraper{
    display: inline-table;
    text-align: center;
    width: 15vw;
    background-color: aliceblue;
}


.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.myNavbar{
    background-color: rgb(0, 0, 0);
}

.NavBrand{
    font-Family: 'Zen Dots',Cursive;

}

.input svg{
    font-size: 38px;
    position: relative;
    font-weight: bold;
    right: 50px;
    top: 0px;
    background-color: white;
    border-radius: 20px;
}

.btn-sigin{
    margin-left: 5px;
}

.logo-Movie{
    font-size: 50px;
}

.movie-image{
    width: fit-content;
    max-height: fit-content;
}